.title {
    font-size: xx-large; 
    margin: 5%;
    color: #EEDB35;
}

.header-div {
    width: 50%;
    text-align: center;

}
.header-div, .header-div > div {
    margin-left: auto;
    margin-right: auto;
}

.level-one-line {
    width: 55%;
}

.level-two-line {
    width: 70%;
}

.level-three-line {
    width: 85%;
}

.level-four-line {
    width: 100%;
}

.level-one-line, .level-two-line, .level-three-line, .level-four-line {
    border: 1px solid #FF7B00; 
    border-radius: 5px; 
    background-color: #FF7B00;
    margin: 2%;
}